In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

** Import pandas as pd.**

In [2]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [4]:
df = pd.read_csv("/content/drive/MyDrive/DS&AI_bootcamp/Salaries.csv")

** Check the head of the DataFrame. **

In [5]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143823 entries, 0 to 143822
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                143823 non-null  int64
 1   EmployeeName      143823 non-null  object
 2   JobTitle          143823 non-null  object
 3   BasePay           143218 non-null  float64
 4   OvertimePay       143823 non-null  float64
 5   OtherPay          143822 non-null  float64
 6   Benefits          107663 non-null  float64
 7   TotalPay          143822 non-null  float64
 8   TotalPayBenefits  143822 non-null  float64
 9   Year              143822 non-null  float64
 10  Notes             0 non-null       float64
 11  Agency            143822 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(9), int64(1), object(3)
memory usage: 14.3+ MB

**What is the average BasePay ?**

In [7]:
df['BasePay'].mean()

68433.5762196791

** What is the highest amount of OvertimePay in the dataset ? **

In [8]:
df['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [9]:
df.loc[df['EmployeeName'] == 'JOSEPH DRISCOLL', 'JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [10]:
df.loc[df['EmployeeName'] == 'JOSEPH DRISCOLL', 'TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [12]:
df.loc[df['TotalPayBenefits'] == df['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [13]:
df.loc[df['TotalPayBenefits'] == df['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
110530,110531,David P Kucia,Police Officer 3,NaN,0.0,0.0,-33.89,0.0,-33.89,2013.0,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [18]:
filter_BasePay_mean = df[(df['Year'] >= 2011) & (df['Year'] <= 2014)]
filter_BasePay_mean.groupby('Year')['BasePay'].mean()

Year
2011.0    63595.956517
2012.0    65436.406857
2013.0    69630.030216
2014.0    75670.242551
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [20]:
df['JobTitle'].nunique()

2156

** What are the top 5 most common jobs? **

In [24]:
df['JobTitle'].value_counts().head()

JobTitle
Transit Operator    6806
Special Nurse       3898
Registered Nurse    3712
Police Officer 3    2415
TRANSIT OPERATOR    2388
Name: count, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [31]:
sum(df[df['Year']==2013]['JobTitle'].value_counts()==1)

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [45]:
df['JobTitle'].apply(lambda x: 'Chief' in x).sum()

423

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [47]:
df['TitleLen'] = df['JobTitle'].apply(len)

In [50]:
df[['TotalPayBenefits', 'TitleLen']].corr()

                  TotalPayBenefits  TitleLen
TotalPayBenefits          1.000000 -0.036274
TitleLen                 -0.036274  1.000000